{% extends "layout.html"%}
{% block contet %}



  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  <main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
      <div class="row">
        <div class="col-md-6">
          <h1 class="display-5 fw-bold">Tipos de telecomunicaciones</h1>
          <h1 class="lead my-3">Las telecomunicaciones, un campo crucial en la era digital, abarcan una amplia gama de tecnologías y sistemas que permiten la transferencia de información a través de distancias variables. Desde los humildes inicios de la telegrafía hasta la revolución de la comunicación móvil y la conectividad global proporcionada por internet, los avances en telecomunicaciones han transformado radicalmente la forma en que nos comunicamos, trabajamos y vivimos. En esta era de interconexión, diversos tipos de telecomunicaciones desempeñan roles vitales, desde la telefonía tradicional hasta la comunicación inalámbrica, la transmisión de datos por satélite y la emergente Internet de las Cosas (IoT). Explorar estos tipos de telecomunicaciones nos lleva a comprender mejor cómo la tecnología continúa dando forma al mundo moderno y cómo las conexiones que creamos definen nuestra experiencia cotidiana.</h1>
       
        </div>
        <div class="col-md-6">
          <br>
          <br>
          <img src="img/10.png" class="img-fluid" alt="Imagen relacionada con telecomunicaciones">
        </div>
      </div>
    </div>
  
  
  
  
  <div class="container marketing">
    <div class="row">
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Telefonía: <span class="text-body-secondary"></span></h2>
        <p class="lead">La telefonía es una forma de telecomunicación que permite la transmisión de voz entre dos o más personas a través de dispositivos como teléfonos fijos, móviles o sistemas de VoIP (Voz sobre Protocolo de Internet). Este medio de comunicación ha sido fundamental en la conectividad humana durante más de un siglo y ha experimentado una evolución significativa a lo largo del tiempo. 
          <br><br>Telefonía fija: La telefonía fija, también conocida como teléfono de línea terrestre o teléfono fijo, es la forma tradicional de telefonía que utiliza cables de cobre o fibra óptica para conectar los dispositivos a la red telefónica. Aunque su popularidad ha disminuido con la llegada de la telefonía móvil y VoIP, sigue siendo una opción común en muchos hogares y negocios.
          <br><br>Telefonía móvil: La telefonía móvil, también conocida como celular o móvil, permite la comunicación inalámbrica a través de dispositivos móviles como teléfonos inteligentes, tabletas y dispositivos portátiles. Utiliza tecnologías como GSM, CDMA, 4G LTE y 5G para establecer conexiones a través de torres de telefonía celular y antenas.
        
        
        </p>
      </div>
      <div class="col-md-5">
        <img src="img/9.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="Imagen relacionada con telefonía">
      
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Internet <span class="text-body-secondary"></span></h2>
        <p class="lead"><h5>Red de redes:</h5> El internet es una red de redes de computadoras interconectadas globalmente que utilizan el protocolo de comunicación TCP/IP (Protocolo de Control de Transmisión/Protocolo de Internet). Está compuesto por una vasta infraestructura de cables submarinos, fibra óptica, satélites y redes inalámbricas que conectan millones de dispositivos en todo el mundo.

          <br><br><h5>Protocolos y estándares:</h5> El funcionamiento del internet se basa en una serie de protocolos y estándares, como HTTP (Protocolo de Transferencia de Hipertexto) para la transmisión de páginas web, SMTP (Protocolo Simple de Transferencia de Correo) para el correo electrónico, FTP (Protocolo de Transferencia de Archivos) para la transferencia de archivos, y muchos más.
          
          <br><br> <h5>Servicios y aplicaciones:</h5> El internet ofrece una amplia gama de servicios y aplicaciones, incluyendo el correo electrónico, la navegación web, las redes sociales, la transmisión de video y música, las videoconferencias, el comercio electrónico, los servicios de búsqueda, los juegos en línea, y mucho más..</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="img/11.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="Imagen relacionada con telefonía">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Radio <span class="text-body-secondary"></span></h2>
        <p class="lead">Transmisión de señales electromagnéticas: La radio es un medio de telecomunicación que transmite señales de audio a través de ondas electromagnéticas. Estas ondas viajan a través del aire o del espacio libre y son captadas por antenas receptoras que convierten las señales en sonido.

          <br><br><h5>Tipos de radio:</h5> Hay varios tipos de radio, incluyendo la radio AM (Amplitud Modulada) y la radio FM (Frecuencia Modulada), que se diferencian en la forma en que las señales de audio se modulan en las ondas portadoras.
          
          <br><br> <h5>Programación variada:</h5> La radio ofrece una amplia variedad de programación, que incluye música, noticias, deportes, programas de entrevistas, debates, programas educativos, entretenimiento y más. Esta diversidad de contenidos permite a los oyentes encontrar opciones que se ajusten a sus intereses y preferencias.
          
          <br><br><h5>Medio de comunicación en</h5> tiempo real: La radio es un medio de comunicación en tiempo real, lo que significa que la información se transmite instantáneamente a medida que se produce. Esto la hace especialmente útil para la difusión de noticias de última hora, alertas de emergencia y cobertura de eventos en directo.</p>
      </div>
      <div class="col-md-5">
        <img src="img/12.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="Imagen relacionada con telefonía">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Televivision <span class="text-body-secondary"></span></h2>
        <p class="lead"><br><br><h5>Transmisión de señales de audio y video:</h5> La televisión es un medio de telecomunicación que transmite señales de audio y video a través de ondas electromagnéticas o mediante conexiones cableadas. Estas señales son captadas por dispositivos receptores, como televisores, decodificadores o dispositivos de transmisión por internet.

          <br><br><h5>Tipos de transmisión:</h5> La televisión puede ser transmitida de varias formas, incluyendo la televisión analógica y la televisión digital. La televisión analógica utiliza señales electromagnéticas continuas para transmitir audio y video, mientras que la televisión digital codifica la información en forma de bits binarios, lo que permite una mayor calidad de imagen y sonido, así como una mayor eficiencia en el uso del espectro electromagnético.
          
          <br><br><h5>Canales y programación:</h5> La televisión ofrece una amplia variedad de canales y programación que abarca diferentes géneros, como noticias, deportes, entretenimiento, documentales, programas educativos, series de ficción, programas infantiles y más. Esta diversidad de contenidos permite a los espectadores encontrar opciones que se ajusten a sus intereses y preferencias.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="img/13.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="Imagen relacionada con telefonía">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Telegrafia <span class="text-body-secondary"></span></h2>
        <p class="lead">Transmisión de mensajes mediante pulsos eléctricos: La telegrafía es un método de telecomunicación que permite la transmisión de mensajes a distancia utilizando señales eléctricas. Estos mensajes se codifican en forma de pulsos eléctricos que son transmitidos a través de cables telegráficos.

          <br><br><h5>Inicios de la telegrafía:</h5> La telegrafía se desarrolló a principios del siglo XIX y se popularizó con la invención del telégrafo eléctrico por Samuel Morse en la década de 1830. El telégrafo de Morse utilizaba un código de puntos y rayas, conocido como código Morse, para representar letras, números y signos de puntuación.
          
          <br><br><h5>Expansion de las redes telegráficas:</h5> La introducción del telégrafo eléctrico llevó a la construcción de extensas redes telegráficas en todo el mundo, conectando ciudades, países e incluso continentes. Estas redes permitieron una comunicación rápida y confiable, transformando los negocios, el comercio y la diplomacia internacional.
          
          <br><br><h5>Impacto en la sociedad y la economía:</h5> La telegrafía tuvo un impacto significativo en la sociedad y la economía al facilitar la comunicación a larga distancia y la transmisión de información comercial y financiera. Permitió la coordinación de actividades comerciales y financieras a nivel nacional e internacional, así como la difusión rápida de noticias y eventos importantes.
          
          </p>
      </div>
      <div class="col-md-5">
        <img src="img/14.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="Imagen relacionada con telefonía">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2017–2024 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

    </body>
    {% endblock %}
</html>
